@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../**/*.vue';

@import "../css/animations/characters/knight.css";
@import "../css/animations/characters/mage.css";
@import "../css/animations/enemies/dragon.css";

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

:root,
* {
    -webkit-user-drag: none;
}

body {
    overflow-x: hidden;
}

.font-pixel {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
}

/* TODO: create different type of animation showing the entensity of the attack */
/* TODO: create different type of attack for different characters */
/* TODO: create different type of attack for different enemies */

/* ─── Utility classes ─────────────────────────────────────────────────────── */
